@import url(http://fonts.googleapis.com/css?family=Courgette);
@import url(http://fonts.googleapis.com/css?family=Hind);

body
{

	background-color: #FFFFFF;
}

h1
{
background-color: #FF9933;
	height: 15%;
	margin: 0;
	padding: 0;
	text-indent: 10px;
	position: static;


}

#nebo
{

	background-image: url("pok.jpg");
	   height: 75%;
    background-repeat: no-repeat;
    

   
 }

#logo
{

	background-image: url("pokusajLoga4.png");
height: 100%;
	background-repeat: no-repeat;
/*	position: relative;*/
margin:0;
padding: 0;

}
#tekst
{

	margin-top:-60px;
	margin-left:100px;
	font-family: 'Courgette';
}
 #dno
 {
    background-color: #E0E0E0;
    height: 7%;   
 }
 

 footer
 {   
     background-color: #F8F8F8;
     height: 20%;
     font-family: 'Hind';
 }

 #meni ul 
{     
        padding: 0;
        margin: 0;
        margin-top: -60px;
        
}

#meni li {
	
        display: inline;
        padding-left: 11px;

}
#meni
{
    
	float: right;
	margin: 1em;
clear: both;
 font-family: 'Hind';
}
#meni a
{

	color: white;
	text-decoration: none;
	font-size: 20px;
	
}

#kontaktdno
{
	text-align: left;
   font-size: 10pt;
    font-family: 'Hind';
}

#podnozje
{
	text-align: center;
}

#vijesti
{
background-image: url("Prag.jpg");
	background-repeat:no-repeat;
	 font-family: 'Hind';
	


}
#nas1
{

	font-weight: bold;
	font-size: 30px;
	margin-left:620px;
	background-color: orange;
	width: 25%;
	 font-family: 'Hind';
}
 
#aut1
 { margin-top: -20px;
   color: #989898;
   font-size: 15px;
   margin-left:620px;
    font-family: 'Hind';

 }

#vijest1
{
    width:25%;
	text-align: justify;
	 font-family: 'Hind';
	margin-left:620px;
}


#det1 a
{ 
	color: orange;
	font-weight: bold;
margin-left: 620px;
 font-family: 'Hind';
}


#vijesti2
{
	background-image: url("Istanbul.jpg");
	background-repeat: no-repeat;
    font-family: 'Hind';
}


#vijesti3
{
	background-image: url("Pariz.jpg");
	background-repeat: no-repeat;
	 font-family: 'Hind';
  
}

#face
{
	/*background-image:url("facebook.png");
	background-repeat: no-repeat;
    height: 100%;
    padding: 0;
    margin-top: -50px;
 margin-left:900px;  */
}
#twitter
{
	/*background-image: url("twitter.jpg");
	height: auto;
	background-repeat: no-repeat;

*/}