@import url(http://fonts.googleapis.com/css?family=Courgette);
@import url(http://fonts.googleapis.com/css?family=Hind);
body
{

	background-color: #FFFFFF;
}

h1
{
background-color: #FF9933;
	height: 15%;
	margin: 0;
	padding: 0;
	text-indent: 10px;


}

#nebo
{

	background-image: url("pok.jpg");
	   height: 75%;
    background-repeat: no-repeat;
    

   
 }

#logo
{

	background-image: url("pokusajLoga4.png");
height: 100%;
	background-repeat: no-repeat;
/*	position: relative;*/
margin:0;
padding: 0;

}
#tekst
{

	margin-top:-60px;
	margin-left:100px;
	font-family: 'Courgette';
}
 #dno
 {
    background-color: #E0E0E0;
    height: 7%;   
    font-family: 'Hind';
 }
 

 footer
 {   
     background-color: #F8F8F8;
     height: 20%;
     font-family: 'Hind';
 }

 #meni ul 
{
        padding: 0;
        margin: 0;
        margin-top: -60px;
}

#meni li {
        display: inline;
        padding-left: 11px;
}
#meni
{

	float: right;
	margin: 1em;
	font-family: 'Hind';

}
#meni a
{

	color: white;
	text-decoration: none;
	font-size: 20px;
	font-family: 'Hind';
}

#kontaktdno
{
	text-align: left;
   font-size: 10pt;
   font-family: 'Hind';
}

#podnozje
{
	text-align: center;
	font-family: 'Hind';
	

}
#oNama,#oNama2
{
    width: 50%;
	text-align: justify;
margin-left: 25%;
font-family: 'Hind';
	}

#prica1
{

	background-image: url("prica1_1.jpg");
	background-repeat: no-repeat;
	

}
#desnaSLika
{
	background-image: url("nar_stiker.jpg");
	background-repeat: no-repeat;
	background-position: right;
}
#prica2
{

	background-image: url("prica1_2.jpg");
	background-repeat: no-repeat;
	background-position: right;
}
#lijevaSLika
{
	background-image: url("nar_stiker2.jpg");
	background-repeat: no-repeat;
	background-position: left;
}


#face
{
	/*background-image:url("facebook.png");
	background-repeat: no-repeat;
    height: 100%;
    padding: 0;
    margin-top: -50px;
 margin-left:900px;  */
}
#twitter
{
	/*background-image: url("twitter.jpg");
	height: auto;
	background-repeat: no-repeat;

*/}